html, body {
  background: black;
  color: white;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  user-select: none;
  width: 100%;
}

#content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
